form,
.card {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;

    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid var(--color-primary);
}

label {
    width: 100%;
    text-align: start;
    font-style: italic;
    padding-left: 6px;
    font-size: var(--text-sm);
}

input,
select,
textarea {
    width: 100%;
    min-width: 250px;
    max-width: 100%;
    padding: 0.5rem;
    height: 2.5rem;

    border: 1px solid var(--color-primary);
    border-radius: 16px;
    box-sizing: border-box;
}


/* input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 2px 20px var(--color-primary);
} */

/* CHECK BOX */
input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    accent-color: var(--color-primary);
    min-width: 1.2rem !important;
}

/* Trường hợp muốn tuỳ chỉnh hoàn toàn */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

input[type="checkbox"]:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: white;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
}

/* ===== Custom radio ===== */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}


/* NÚT UPLOAD FILE */
input[type="file"] {
    border: 1px dashed var(--color-primary);
}