footer {
    width: 100%;
    background-color: var(--color-primary);
    padding: 36px 16px;
    gap: 36px;
}

footer a {
    display: block;
    text-decoration: none;
}

footer p,
footer a {
    font-size: 0.75rem;
}

footer * {
    color: white;
}

.footer-col {
    text-align: start;
    justify-content: start;
    width: auto;
    min-width: 300px;
    max-width: 400px;
}

@media (max-width: 768px) {
    footer {
        flex-wrap: wrap;
    }
}